﻿<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Css/jquery.sidr.dark.min.css" rel="stylesheet" />
    <link href="~/Content/Css/styles.min.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/style-kv2.min.css" rel="stylesheet" />
    <link href="~/Content/Css/StoriesSuccess.min.css" rel="stylesheet" />
</head>

<body class="home blog" class="home blog" itemscope itemtype="http://schema.org/WebPage">
    <script src="~/Scripts/jQuery/jquery.min.js"></script>
    <script src="~/Scripts/jQuery/jquery.sidr.min.js"></script>
    <div class="wrapper-p" id="page" class="hfeed site">
        <div id="top" class="navbar navbar-kiotviet" role="navigation">
            <div class="container container-header">
                <div class="wrapper-container header-z">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle mobile-nav off-canvas-toggle" id="show-menu" href="#sidr" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="~/Content/images/vcb-logo.jpg" alt="vib-logo" />
                        </a>
                    </div>
                    <div id="off-canvas-pr" class="canvas">
                        <div class="off-canvas-inner-pr">
                            <nav class="off-menu-pr">
                                <div class="collapse main-menu navbar-collapse navbar-right navbar-bt" id="bs-example-navbar-collapse-1">
                                    <div class="menu-menu-1-container">
                                        <ul id="menu-menu-1" class="nav navbar-nav nav-kiotviet">
                                            <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")">Vay Theo Lương Chuyển Khoản</a></li>
                                            <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="@Url.Action("VayTheoLuongTienMat", "Home")">Vay Theo Lương Tiền Mặt</a></li>
                                            <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="@Url.Action("VayTheoHDBH", "Home")">Vay Theo HĐBH</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div><!--End-wrapper-container-->
            </div><!-- /.container-fluid -->
        </div>

        @RenderBody()

        <div class="bottomBox">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3 column-footer footer_company">
                        <h4><span>Gới Thiệu</span></h4>
                        <p>Website vayvietcombank.com chuyên cập nhập những tin tức và sản phẩm vay tín chấp của ngân hàng Vietcombank, tại đây quý khách có thể tham khảo những sản phẩm vay tiêu dùng không cần thế chấp, chúng tôi trực tiếp nhận thông tin khách hàng và hướng dẫn quý khách làm hồ sơ vay vốn. Đừng ngại ngần liên hệ với chuyên viên tín dụng để được giải đáp mọi thắc mắc khi đăng ký vay tiền tại Vietcombank.</p>
                    </div>
                    <div class="col-xs-12 col-md-2 column-footer column-footer-1">
                        <h4>Dịch vụ, sản phẩm</h4>
                        <ul class="ul-1">
                            <li><a href="@Url.Action("VayTheoHDBH", "Home")" title="">Vay theo bảo hiểm nhân thọ</a></li>
                            <li><a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="">Vay theo lương chuyển khoản</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-2 column-footer column-footer-2">
                        <h4></h4>
                        <ul class="ul-2">
                            <li><a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="">Vay theo lương tiền mặt</a></li>
                            <li><a href="@Url.Action("Index", "Home")" title="">Vay tiền Vietcombank</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-2 column-footer footer_support">
                        <h4>Hỗ trợ</h4>
                        <ul>
                            <li><a href="#" rel="nofollow">Sơ đồ trang web</a></li>
                            <li><a href="#" rel="nofollow">Biểu mẫu</a></li>

                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-3 column-footer">
                        <h4>Liên hệ</h4>
                        <ul>
                            <li>Hotline: <span><a style="color: #008848;" href="tel:0984828226">0984.828.226</a></span></li>
                            <li>Email: <a class="active" href="mailto:vayvietcombank.com@gmail.com">vayvietcombank.com@gmail.com</a></li>
                            <p>Địa chỉ:</p>
                            <p class="address-footer">229 Tây Sơn, Ngã Tư Sở, Đống Đa, Hà Nội</p>
                        </ul>
                    </div>

                </div>
            </div><!--End-containner-->
        </div>
        <a href="#top" title="Lên đầu trang" onclick="jQuery('html,body').animate({scrollTop: 0},1000);" class="go_top go_tops">
            <span style="color: #fff;display: block;padding-top: 12px;">Top</span>
        </a>

        <div class="callus visible-xs animated2 reach-bottom"><i style="font-size: 15px;" class="fa">Call</i><a href="tel:0984828226">0984.828.226</a></div>
        <style>
            .callus {
                background: #009b72;
                position: fixed;
                bottom: 20px;
                height: 40px;
                line-height: 40px;
                padding: 0 20px 0 0px;
                border-radius: 40px;
                color: #fff;
                left: 20px;
                z-index: 99999;
            }

                .callus i {
                    font-size: 20px;
                    line-height: 40px;
                    background: #07bb8b;
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    margin-right: 10px;
                }

                .callus a {
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                }
        </style>
    </div>
</body>
