﻿@{
    ViewBag.Title = "Vay Tiền Vietcombank Lãi Suất Thấp - Không Thế Chấp - Một trang web mới sử dụng WordPress";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 right-banner">
                <div class="text-banner">
                    <h1><strong>Vay Vốn Ngân Hàng Vietcombank</strong></h1>
                    <p>Ngân hàng Vietcombank cho vay tiêu dùng tín chấp với lãi suất thấp chỉ từ 0,6%/tháng, điều kiện và thủ tục giản đơn. Không yêu cầu khách hàng phải thế chấp tài sản, hỗ trợ trả góp hàng tháng theo dư nợ giảm dần. Nhằm hỗ trợ tối đa cho khách có thể vay được vốn, Vietcombank cho ra nhiều gói sản phẩm vay vốn khác nhau như vay theo lương chuyển khoản, lương tiền mặt, hợp đồng bảo hiểm nhân thọ, hóa đơn điện. Quý khách có thể tham khảo chi tiết các sản phẩm bên dưới</p>
                    <a herf="http://vayvietcombank.com/#sp" class="register box-popup-register" id="show_signup" style="background-color: #2a6b20;padding: 20px;">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" class="main-page">
    <div class="box-introduces">
        <div class="container">
            <div class="list-introduces">
                <h2 class="title">Vì sao nên vay tiền tại Vietcombank</h2>
            </div>
            <ul class="row">
                <li class="col-xs-12 col-md-4 list-introduces">
                    <img src="~/Content/images/llike-icon.png" />
                    <div class="text-introduces">
                        <h3>Điều kiện đơn giản</h3>
                        <p>Vietcombank phát triển chuân mực theo một ngân hàng quốc tế, cho nên chúng tôi cũng đưa ra những điều kiện đơn giản, dễ hiều, không mất nhiều thời gian làm giấy tờ thủ tục. Để đảm bảo hầu hết khách hàng vay được vốn, Vietcombank đưa ra những gói sản phẩm và điều kiện sao cho phù hợp nhất.</p>
                    </div>
                </li>
                <li class="col-xs-12 col-md-4 list-introduces">
                    <img src="~/Content/images/lai-icon.png" />
                    <div class="text-introduces">
                        <h3>Lãi suất thấp</h3>
                        <p>Hiện tại Vietcombank áp dụng mức lãi suất từ 0,6% đến 1,2% mỗi tháng. Tùy thuộc vào khoản vay và thời hạn đăng ký mà chúng tôi sẽ áp dụng mức lãi suất cho phù hợp. Để biêt chính xác số tiền và mức lãi suất phải trả hãy gọi cho chuyên viên tín dụng để được hỗ trợ miễn phí.</p>
                    </div>
                </li>
                <li class="col-xs-12 col-md-4 list-introduces">
                    <img src="~/Content/images/duyet-icon.png" />
                    <div class="text-introduces">
                        <h3>Giải ngân nhanh</h3>
                        <p>Kể từ thời điểm đăng ký vay vốn đến khi được giải ngân là từ 2 đến 3 ngày làm việc, không tính các ngày nghỉ lễ tết. Đội ngũ nhân viên ngân hàng Vietcombank luôn sẵn sàng hỗ trợ, phục vụ quý khách hàng có thể tiếp cận với nguồn vốn một cách đơn giản và nhanh chóng nhất..</p>
                    </div>
                </li>
            </ul>
            <button class="register box-popup-register" id="show_signup"><a style="color: #fff;" href="#dangky">Đăng ký vay vốn</a></button>
        </div>
    </div>
    <div class="box-industry">
        <div class="container">
            <div class="box-title" id="sp">
                <h2 class="title">Các Sản Phẩm Vay Tại Vietcombank</h2>
                <p>Tùy theo điều kiện và nhu cầu của mình mà quý khách lựa chọn sản phẩm vay vốn sao cho hợp lý.</p>
            </div>
            <div class="row box-list-industry">
                <div class="col-xs-12 col-md-4 ">
                    <a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="Vay Theo Lương Chuyển Khoản" class="list">
                        <img style="width: 100%;" src="~/Content/images/vay-theo-luong-ck.jpg" />
                        <h3>Vay Theo Lương Chuyển Khoản</h3>
                    </a>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="Vay Theo Lương Tiền Mặt" class="list">
                        <img style="width: 100%;" src="~/Content/images/vay-tin-chap-theo-luong-tm.jpg" />

                        <h3>Vay Theo Lương Tiền Mặt</h3>
                    </a>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <a href="@Url.Action("VayTheoHDBH", "Home")" title="Vay Theo Bảo Hiểm Nhân Thọ" class="list">
                        <img style="width: 100%;" src="~/Content/images/vay-tien-bang-hop-dong-bao-hiem-nhan-tho.jpg" />
                        <h3>Vay Theo Bảo Hiểm Nhân Thọ</h3>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="box-customer box-industry">
        <div class="container" id="dangky">
            <div class="box-title" style="padding-bottom: 0;">
                <h2 class="title">Về Chúng Tôi</h2>
                <p style="font-size: 15px; line-height: 1.5; color: #333; text-align: justify;">
                    Vietcombank tự hào là ngân hàng cung cấp nhưng sản phẩm và dịch vụ vay vốn chất lượng nhất đên mọi khách hàng trên toàn quốc. Với 20 năm hoạt động và phát triển Vietcombank đã trở thành một trong những ngân hàng thương mại cổ phần hàng đầu tại Việt Nam. Tại đây quý khách hàng có thể vay tín chấp, vay tiêu dùng, vay tiền trả góp hàng tháng mà không cần thế chấp tài sản đảm bảo như nhà ở, đất, xe oto... Quý khách hàng muốn được hõ trợ vay vốn ngân hàng hãy gọi cho chúng tôi qua số hotline phía dưới hoặc gửi yêu cầu bằng form để được tư vấn.
                </p>
            </div>
            <div class="box-register-new text-center">

                <div class="text-center list">
                    <ul class="clearfix">
                        <li class="pull-left">Gọi hotline: <span><a style="color: red;" href="tel:0984828226">0984.828.226</a></span> để được tư vấn <span style="color: red;">Miễn Phí</span></li>
                        <br>
                        <li style="padding-top: 15px;">Hỗ trợ <span style="color: red;">24/7</span> tất cả các ngày trong tuần</li>
                    </ul>
                </div>
                <div class="box-register" style="padding-top: 0;">
                    <p>
                        <span contenteditable="false" data-mce-object="iframe" class="mce-preview-object mce-object-iframe" data-mce-p-data-mce-fragment="1"
                              data-mce-p-data-mce-src="https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true"
                              data-mce-p-marginheight="0" data-mce-p-marginwidth="0" data-mce-p-frameborder="0" data-mce-p-src="https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true"
                              data-mce-html="%u0110ang%20ta%u0309i...">
                            <iframe src="https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true" width="100%" height="900" frameborder="0"></iframe>
                            <span class="mce-shim"></span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!--End-row-->

    </div>


    <div class="box-kiotviet-1 ">
        <div class="container">
            <div class="box-title">
                <h3 class="title">Hãy để chúng tôi giúp bạn!</h3>
                <p>Tại Vietcombank bạn sẽ được vay tín chấp tiêu dùng với mức lãi suât thấp nhất từ 0,6% mỗi tháng, chúng tôi có đa dạng những sản phẩm vay vốn khác nhau, điều kiện và thủ tục đơn giản, mọi khách hàng là cá nhân hay doanh nghiệp đều có thể đăng ký vay. Đội ngũ nhân viên được đào tạo chuyên nghiệp, bài bản sẽ giúp quý khách hàng giải quyết mọi vấn đề về hồ sơ, lãi suất hay các điều khoản còn thắc mắc. Hãy liên hệ ngay với chúng tôi để được hỗ trợ trong thời gian sớm nhất.</p>
            </div>
        </div>
        <div class="content-box-kiotviet"></div>
    </div>
    <div class="box-kiotviet">
        <div class="container">
            <div class="box-title">
                <h3 class="title">Hãy để chúng tôi giúp bạn!</h3>
                <p>Tại Vietcombank bạn sẽ được vay tín chấp tiêu dùng với mức lãi suât thấp nhất từ 0,6% mỗi tháng, chúng tôi có đa dạng những sản phẩm vay vốn khác nhau, điều kiện và thủ tục đơn giản, mọi khách hàng là cá nhân hay doanh nghiệp đều có thể đăng ký vay. Đội ngũ nhân viên được đào tạo chuyên nghiệp, bài bản sẽ giúp quý khách hàng giải quyết mọi vấn đề về hồ sơ, lãi suất hay các điều khoản còn thắc mắc. Hãy liên hệ ngay với chúng tôi để được hỗ trợ trong thời gian sớm nhất.</p>
            </div>
        </div>


    </div>
</div>
<div class="box-register-footer">
    <div class="container">

        <div class="hot-line">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="list-column">
                        <h5 class="icon icon-support">Hỗ trợ</h5>
                        <p>Đội ngũ nhân viên giầu kinh nghiệm, được đào tạo bài bản luôn sẵn sàng phục vụ quý khách tất cả các ngày trong tuần.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="list-column">
                        <h5 class="icon icon-hotline">Hotline: <a style="color: #008848;" href="tel:0984828226">0984.828.226</a></h5>
                        <p>Gọi cho chúng tôi nếu bạn cần đăng ký vay vốn bằng hình thức thế chấp tài sản, hoặc muốn được tư vấn những vấn đề liên quan khác.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="list-column">
                        <h5 class="icon icon-email">E-mail: <a class="active" href="mailto:vayvietcombank.comm@gmail.com">vayvietcombank.com@gmail.com</a></h5>
                        <p>Mọi đóng góp của quý khách hàng vui lòng gửi cho chúng tôi qua địa chỉ email phía trên, xin cám ơn.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-container-->
</div>
    </div><!-- #content .site-content -->
<!-------Footer-------------------------------->
<!-- #colophon .site-footer -->
<!--Scroll To Top-->
<a href="#top" title="Lên đầu trang" onclick="jQuery('html,body').animate({scrollTop: 0},1000);" class="go_top go_tops">
    <span style="color: #fff;display: block;padding-top: 12px;">Top</span>
</a>

<div class="callus visible-xs animated2 reach-bottom"><i style="font-size: 15px;" class="fa">Call</i><a href="tel:0984828226">0984.828.226</a></div>
<style>
    .callus {
        background: #009b72;
        position: fixed;
        bottom: 20px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px 0 0px;
        border-radius: 40px;
        color: #fff;
        left: 20px;
        z-index: 99999;
    }

        .callus i {
            font-size: 20px;
            line-height: 40px;
            background: #07bb8b;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-right: 10px;
        }

        .callus a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }
</style>
<!--/Scroll To Top-->
    </div><!-- #page .hfeed .site -->
