﻿@{ ViewBag.Title = "Vay Theo Lương Tiền Mặt"; }
<div style="margin-top: 70px;" class="sub-content">
    <div class="container">
        <div class="left-container">
            <p id="breadcrumbs">
                <span xmlns:v="http://rdf.data-vocabulary.org/#">
                    <span typeof="v:Breadcrumb">
                        <a href="@Url.Action("Index", "Home")" re rel="v:url" prope rel="v:url" property="v:title">Trang chủ</a> »
                        <span class="breadcrumb_last">Vay Theo Lương Tiền Mặt</span>
                    </span>
                </span>
            </p>
            <style>
                #breadcrumbs {
                    background: #eee;
                    padding: 7px 0px 7px 10px;
                    font-size: 14px;
                    color: #333;
                }

                    #breadcrumbs a {
                        color: #333;
                    }

                .left-container h1,
                .left-container .content-write h2,
                .left-container .content-write h3 {
                    text-transform: capitalize;
                    color: #15981d;
                    ;
                    font-weight: 700;
                }

                .left-container .content-write ul,
                .left-container .content-write ol {
                    padding-bottom: 20px;
                    padding-left: 30px;
                    list-style: initial;
                }

                    .left-container .content-write ol li,
                    .left-container .content-write ul li {
                        padding: 2px 0;
                    }

                .container {
                    font-family: sans-serif;
                }

                .left-container p {
                    color: #333;
                }
            </style>
            <h1 style="padding-top: 15px; font-size: 30px;" class="title">
                <strong>Vay Theo Lương Tiền Mặt</strong>
            </h1>
            <div class="content-write">
                <p>
                    Sản phẩm
                    <strong>vay vốn theo lương tiền tại Vietcombank</strong> mặt hỗ trợ những khách hàng đang đi làm hưởng lương
                    tại các công ty hay doanh nghiệp bằng tiền mặt. Quý khách có thể vay tối đa gấp 10 đến 15 lần lương.
                    Đối với sản phẩm vay theo lương tiền mặt này không yêu cầu khách hàng phải thế chấp tài sản đảm bảo,
                    lãi suất giao động từ 0,8% đến 1,2% mỗi tháng. Nếu quý khác có nhu cầu
                    <strong>vay bằng lương tiền mặt tại Vietcombank</strong> hãy tham khảo thêm một số thông tin cần thiết bên dưới.
                </p>
                <p>
                    <img class="alignnone size-full wp-image-39" src="~/Content/images/vay-tin-chap-theo-luong.jpg"
                         alt="" width="650" height="399" srcset="~/Content/images/vay-tin-chap-theo-luong.jpg 650w, ~/Content/images/vay-tin-chap-theo-luong.jpg 300w"
                         sizes="(max-width: 650px) 100vw, 650px" />
                </p>
                <h2>
                    <strong>Vay Theo Lương Tiền Mặt Vietcombank</strong>
                </h2>
                <h3>Ưu điểm</h3>
                <ul>
                    <li>Không cần thế chấp tài sản.</li>
                    <li>Điều kiện thủ tục dễ dàng.</li>
                    <li>Bảo mật khoản vay và thông tin khách hàng.</li>
                    <li>Thời gian trả nợ từ 06 đến 36 tháng.</li>
                    <li>Không mất phí làm hồ sơ vay vốn.</li>
                    <li>Có thể vay tới 15 lần lương tháng.</li>
                </ul>
                <h3>Nhược điểm</h3>
                <ul>
                    <li>Khách hàng vay vốn phải thậm định tại nhà.</li>
                </ul>
                <h3>
                    <strong>Lãi suất vay theo lương tiền mặt ngân hàng Vietcombank</strong>
                </h3>
                <p>
                    Lãi suất phụ thuộc vào từng ngân hàng mà quý khách lựa chọn, sẽ giao động từ 0,9% đến 2,2% mỗi tháng. Để
                    biết được lãi suất và thời gian vay vốn, vui lòng gọi điện cho chúng tôi hoặc điền thông tin vào form
                    đăng ký để được tư vấn.
                </p>
                <p>
                    <img class="alignnone size-full wp-image-39" src="~/Content/images/vay-tin-chap-theo-luong.jpg"
                         alt="" width="650" height="399" srcset="~/Content/images/vay-tin-chap-theo-luong.jpg 650w, ~/Content/images/vay-tin-chap-theo-luong.jpg 300w"
                         sizes="(max-width: 650px) 100vw, 650px" />
                </p>
                <h3>
                    Điều kiện và thủ tục
                    <strong>vay theo bảng lương tiền mặt tại Vietcombank</strong>
                </h3>
                <h3>Điều kiện bắt buộc</h3>
                <ul>
                    <li>Đang đi làm hương lương từ 03 triệu vnđ.</li>
                    <li>Trong độ tuổi lao động từ 20 đến 60 tuổi.</li>
                    <li>Không có nợ xấu tại ngân hàng hay công ty tài chính nào.</li>
                    <li>Thời gian làm việc tối thiểu 03 tháng trở lên.</li>
                </ul>
                <h3>Thủ tục giấy tờ cần thiết</h3>
                <ul>
                    <li>Bảng lương 03 tháng gần nhất.</li>
                    <li>
                        Hợp đồng lao động hoặc giấy xác nhận đang công tác làm việc tại công ty.
                        <br /> 01 ảnh 3×4.
                    </li>
                    <li>Sổ hộ khẩu và CMND hoặc thẻ căn cước bản gốc.</li>
                </ul>
                <p>
                    Khách hàng đang muốn
                    <strong> vay tiền ngân hàng Vietcombank theo lương tiền mặt</strong>, nhưng đang có thắc mắc về thủ tục, điều
                    kiện cũng như lãi suất. Có thể liện hệ với chúng tôi qua số hotline để được chuyên viên tín dụng tư vấn
                    và giải đáp miễn phí.
                </p>
            </div>
            <div class="box-register-new text-center">
                <h4 class="txt">Vay Vốn Ngân Hàng Vietcombank </h4>
                <div class="text-center list">
                    <ul class="clearfix">
                        <li class="pull-left">
                            Vay tiền Không cần
                            <span style="color: red;">Thế Chấp</span> tài sản
                        </li>
                        <li class="pull-left">
                            Lãi suất chỉ
                            <span style="color: red;">0,6%</span>/ tháng
                        </li>
                    </ul>
                </div>
                <a style="padding: 20px;
    background: #258337;" onclick="location.href='https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true'" class="register box-popup-register" id="box-register-single">
                    Đăng ký ngay
                </a>
            </div>
            <!--box-register-new-->




        </div>
        <div class="right-container">
            <div class="box-one">
                <h3 class="title-right">
                    <span>Hotlie hỗ trợ</span>
                </h3>
                <img style="max-width:330px;" src="~/Content/images/tuvan-hotline.jpg" class="lazyloading"
                     data-was-processed="true">
                <div style="padding:8px 15px; border:1px solid #aaa; margin-right:11px; margin-bottom:20px;" id="hotline">
                    <span style="font-size:25px;font-weight:700;display:inherit;line-height:2;text-align:center;">
                        <a style="color:red;" href="tel:0984828226">0984.828.226</a>
                    </span>
                    <span style="font-size:25px;font-weight:700;display:inherit;line-height:2;text-align:center;">
                        <a style="color: red;" href="tel:0984828226">0984.828.226</a>
                    </span>
                </div>
            </div>

            <div class="box-one">
                <h3 class="title-right">
                    <span style="background-color: #bd2d2d;">Các hình thức vay vốn</span>
                </h3>
                <div style="padding: 8px 15px;border: 1px solid #aaa;margin-right: 11px; margin-bottom: 20px;">
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="Vay theo lương chuyển khoản">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tin-chap-theo-luong.jpg"
                                 alt="Vay theo lương chuyển khoản" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="Vay theo lương chuyển khoản">Vay theo lương chuyển khoản</a>
                            </h4>
                        </div>
                    </div>
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="Vay theo lương tiền mặt">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tin-chap-theo-luong-tm.jpg"
                                 alt="Vay theo lương tiền mặt" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="vay theo lương">Vay theo lương tiền mặt</a>
                            </h4>
                        </div>
                    </div>
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoHDBH", "Home")" title="vay tiền bằng bảo hiểm nhân thọ">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tien-theo-bao-hiem-nhan-tho.jpg"
                                 alt="Vay tiền bằng bảo hiểm nhân thọ" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoHDBH", "Home")" title="Vay tiền bằng bảo hiểm nhân thọ">Vay tiền bằng bảo hiểm nhân thọ</a>
                            </h4>
                        </div>
                    </div>

                    <style>
                        .wrapper-qt-right .avatar {
                            border-radius: inherit;
                            max-width: 70px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>

        </div>
        <!--END right-->
        <div class="clb ovh">&nbsp;</div>
    </div>
</div>