﻿@{
    ViewBag.Title = "Vay theo lương chuyển khoản";
}
<div style="margin-top: 70px;" class="sub-content">
    <div class="container">
        <div class="left-container">
            <p id="breadcrumbs">
                <span xmlns:v="http://rdf.data-vocabulary.org/#">
                    <span typeof="v:Breadcrumb">
                        <a href="@Url.Action("Index", "Home")" rel="v:url" prope rel="v:url" property="v:title">Trang chủ</a> »
                        <span class="breadcrumb_last">Vay Theo Lương Chuyển Khoản</span>
                    </span>
                </span>
            </p>
            <style>
                #breadcrumbs {
                    background: #eee;
                    padding: 7px 0px 7px 10px;
                    font-size: 14px;
                    color: #333;
                }

                    #breadcrumbs a {
                        color: #333;
                    }

                .left-container h1,
                .left-container .content-write h2,
                .left-container .content-write h3 {
                    text-transform: capitalize;
                    color: #15981d;
                    font-weight: 700;
                }

                .left-container .content-write ul,
                .left-container .content-write ol {
                    padding-bottom: 20px;
                    padding-left: 30px;
                    list-style: initial;
                }

                    .left-container .content-write ol li,
                    .left-container .content-write ul li {
                        padding: 2px 0;
                    }

                .container {
                    font-family: sans-serif;
                }

                .left-container p {
                    color: #333;
                }
            </style>
            <h1 style="padding-top: 15px; font-size: 30px;" class="title">
                <strong>Vay Theo Lương Chuyển Khoản</strong>
            </h1>
            <div class="content-write">
                <p>
                    Sản phẩm vay theo lương chuyển khoản tại Vietcombank áp dụng cho tất cả những khách hàng đang đi
                    làm và nhận lương qua tài khoản ngân hàng. Đối với hình thức vay vốn này chúng tôi áp dụng mức
                    lãi suất thấp chỉ từ 0,6% đến 1,2% mỗi tháng, hỗ trợ vay tới 15 lần lương, khách hàng có thể
                    trả góp theo hàng tháng. Khách hàng có nhu cầu
                    <strong>vay vốn theo lương chuyển khoản qua Vietcombank</strong> có thể tham khảo thêm thông tin bên
                    dưới để biết được lãi suất, điều kiện và thủ tục vay vốn.
                </p>
                <p>
                    <img class="alignnone size-full wp-image-35" src="~/Content/images/vay-theo-luong.png"
                         alt="" width="650" height="406" srcset="~/Content/images/vay-theo-luong.png 650w, ~/Content/images/vay-theo-luong.png 300w"
                         sizes="(max-width: 650px) 100vw, 650px" />
                </p>
                <h2>
                    <strong>Vay theo lương chuyển khoản tại Vietcombank</strong>
                </h2>
                <h3>Ưu điểm</h3>
                <ul>
                    <li>Không cần thế chấp tài sản hay nhờ người bảo lãnh.</li>
                    <li>Lãi suất thấp chỉ từ 0,6%/tháng.</li>
                    <li>Điều kiện đơn giản, giải ngân nhanh.</li>
                    <li>Thời gian trả góp linh động từ 06 đến 60 tháng.</li>
                    <li>Bảo mật thông tin, khoản vay của khách hàng.</li>
                    <li>Vay được tối đa gấp 15 lần lương.</li>
                </ul>
                <h3>
                    <strong>Lãi suất vay theo lương chuyển khoản Vietcombank</strong>
                </h3>
                <p>
                    Lãi suất của sản phẩm vay theo lương chuyển khoản giao động từ 0,6% mỗi tháng đến 1,2%. Để biết chính
                    xác mức lãi suất phải trả đối với khoản vay mong muốn, khách hàng vui lòng gọi điện cho chuyên
                    viên tín dụng qua số hotline hoặc điền thông tin qua form đăng ký.
                </p>
                <p>
                    <img class="alignnone size-full wp-image-39" src="~/Content/images/vay-tin-chap-theo-luong.jpg"
                         alt="" width="650" height="399" srcset="~/Content/images/vay-tin-chap-theo-luong.jpg 650w, ~/Content/images/vay-tin-chap-theo-luong.jpg 300w"
                         sizes="(max-width: 650px) 100vw, 650px" />
                </p>
                <h2>
                    -
                    <strong>Điều kiện và thủ tục vay theo lương chuyển khoản</strong>
                </h2>
                <h3>Điều kiện bắt buộc</h3>
                <ul>
                    <li>Khách hàng có lương chuyển khoản ngân hàng.</li>
                    <li>Mức lương tối thiểu từ 03 triệu vnđ.</li>
                    <li>Trong độ tuổi từ 20 đến 60 tuổi.</li>
                    <li>Không có dư nợ xấu tại bất cứ ngân hàng hay công ty tài chính nào cả.</li>
                </ul>
                <h3>Hồ sơ thủ tục giấy tờ bao gồm</h3>
                <ul>
                    <li>Sổ hộ khẩu và chứng minh nhân dân hoặc thẻ căn cước ( bản gốc).</li>
                    <li>Sao kê 03 tháng ngân hàng gần nhất.</li>
                    <li>
                        Hợp đồng lao động hoặc giấy xác nhận đang công tác tại công ty.
                        <br /> 01 ảnh 3×4.
                    </li>
                </ul>
                <p>
                    Quý khách hàng còn thắc mắc gì về điều kiện, thủ tục hoặc giấy tờ cũng như lãi suất khi vay theo
                    lương chuyển khoản tại Vietcombank, liên hệ ngay với chuyên viên tín dụng của chúng tôi qua số
                    hotline để được tư vấn miễn phí. Chúng tôi sẽ giúp bạn có được khoản vay mong muốn để thực hiện
                    được dự định của mình!
                </p>
            </div>
            <div class="box-register-new text-center">
                <h4 class="txt">Vay Vốn Ngân Hàng Vietcombank </h4>
                <div class="text-center list">
                    <ul class="clearfix">
                        <li class="pull-left">
                            Vay tiền Không cần
                            <span style="color: red;">Thế Chấp</span> tài sản
                        </li>
                        <li class="pull-left">
                            Lãi suất chỉ
                            <span style="color: red;">0,6%</span>/ tháng
                        </li>
                    </ul>
                </div>
                <a style="padding: 20px;background: #258337;"  onclick="location.href='https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true'" class="register box-popup-register" id="box-register-single">
                    Đăng ký ngay
                </a>
            </div>
            <!--box-register-new-->
        </div>
        <div class="right-container">
            <div class="box-one">
                <h3 class="title-right">
                    <span>Hotlie hỗ trợ</span>
                </h3>
                <img style="max-width:330px;" src="~/Content/images/tuvan-hotline.jpg" class="lazyloading"
                     data-was-processed="true">
                <div style="padding:8px 15px; border:1px solid #aaa; margin-right:11px; margin-bottom:20px;" id="hotline">
                    <span style="font-size:25px;font-weight:700;display:inherit;line-height:2;text-align:center;">
                        <a style="color:red;" href="tel:0984828226">0984.828.226</a>
                    </span>
                    <span style="font-size:25px;font-weight:700;display:inherit;line-height:2;text-align:center;">
                        <a style="color: red;" href="tel:0984828226">0984.828.226</a>
                    </span>
                </div>
            </div>

            <div class="box-one">
                <h3 class="title-right">
                    <span style="background-color: #bd2d2d;">Các hình thức vay vốn</span>
                </h3>
                <div style="padding: 8px 15px;border: 1px solid #aaa;margin-right: 11px; margin-bottom: 20px;">
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="Vay theo lương chuyển khoản">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tin-chap-theo-luong.jpg"
                                 alt="Vay theo lương chuyển khoản" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="Vay theo lương chuyển khoản">Vay theo lương chuyển khoản</a>
                            </h4>
                        </div>
                    </div>
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="Vay theo lương tiền mặt">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tin-chap-theo-luong-tm.jpg"
                                 alt="Vay theo lương tiền mặt" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="vay theo lương">Vay theo lương tiền mặt</a>
                            </h4>
                        </div>
                    </div>
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoHDBH", "Home")" title="vay tiền bằng bảo hiểm nhân thọ">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tien-theo-bao-hiem-nhan-tho.jpg"
                                 alt="Vay tiền bằng bảo hiểm nhân thọ" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoHDBH", "Home")" title="Vay tiền bằng bảo hiểm nhân thọ">Vay tiền bằng bảo hiểm nhân thọ</a>
                            </h4>
                        </div>
                    </div>

                    <style>
                        .wrapper-qt-right .avatar {
                            border-radius: inherit;
                            max-width: 70px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>

        </div>
        <!--END right-->
        <div class="clb ovh">&nbsp;</div>
    </div>
</div>