﻿@{ ViewBag.Title = "Vay Theo Hợp Đồng Bảo Hiểm Nhân Thọ"; }
<div style="margin-top: 70px;" class="sub-content">
    <div class="container">
        <div class="left-container">
            <p id="breadcrumbs">
                <span xmlns:v="http://rdf.data-vocabulary.org/#">
                    <span typeof="v:Breadcrumb">
                        <a href="@Url.Action("Index", "Home")" re rel="v:url" property="v:title">Trang chủ</a> »
                        <span class="breadcrumb_last">Vay Theo Hợp Đồng Bảo Hiểm Nhân Thọ</span>
                    </span>
                </span>
            </p>
            <style>
                #breadcrumbs {
                    background: #eee;
                    padding: 7px 0px 7px 10px;
                    font-size: 14px;
                    color: #333;
                }

                    #breadcrumbs a {
                        color: #333;
                    }

                .left-container h1,
                .left-container .content-write h2,
                .left-container .content-write h3 {
                    text-transform: capitalize;
                    color: #15981d;
                    ;
                    font-weight: 700;
                }

                .left-container .content-write ul,
                .left-container .content-write ol {
                    padding-bottom: 20px;
                    padding-left: 30px;
                    list-style: initial;
                }

                    .left-container .content-write ol li,
                    .left-container .content-write ul li {
                        padding: 2px 0;
                    }

                .container {
                    font-family: sans-serif;
                }

                .left-container p {
                    color: #333;
                }
            </style>
            <h1 style="padding-top: 15px; font-size: 30px;" class="title">
                <strong>Vay Theo Hợp Đồng Bảo Hiểm Nhân Thọ</strong>
            </h1>
            <div class="content-write">
                <p>
                    Sản phẩm vay tín chấp này hỗ trợ các khách hàng đang có hợp đồng bảo hiểm nhân thọ tại Prudential, Manulife,
                    Cathay Life, Bảo An, AIA… Thủ tục và điều kiện đơn giản, chỉ 2 đến 3 ngày là khách hàng có thể lấy được
                    tiền giải ngân. Không cần thế chấp tài sản đảm bảo hoặc nhờ người đứng ra bảo lãnh. Áp dụng trả góp hàng
                    tháng theo dư nợ giảm dần. Nếu bạn đang có nhu cầu vay tiền nhanh thông qua hợp đồng bảo hiểm nhân thọ
                    vui lòng xem thêm các thông tin chi tiết phía dưới.
                </p>
                <p>
                    <img class="alignnone wp-image-36 size-full" src="~/Content/images/vay-tien-bang-hop-dong-bao-hiem-nhan-tho-1.jpg"
                         alt="" width="650" height="392" srcset="~/Content/images/vay-tien-bang-hop-dong-bao-hiem-nhan-tho-1.jpg 650w, ~/Content/images/vay-tien-bang-hop-dong-bao-hiem-nhan-tho-1.jpg 300w"
                         sizes="(max-width: 650px) 100vw, 650px" />
                </p>
                <h2>Vay theo hợp đồng bảo hiểm nhân thọ tại Vietcombank</h2>
                <p>Ưu điểm</p>
                <ul>
                    <li>Không thế chấp tài sản</li>
                    <li>Không cần nhờ người thứ 3 đứng ra bảo lãnh.</li>
                    <li>Thời gian vay vốn linh động từ 12 đến 26 tháng.</li>
                    <li>Khoản vay tối đa gấp 100 lần số tiền phí đóng bảo hiểm hàng tháng.</li>
                    <li>Thủ tục đơn giản, thời gian giải ngân nhanh.</li>
                    <li>Bảo mật khoản vay và thông tin cá nhân của khách hàng.</li>
                </ul>
                <p>Nhược điểm</p>
                <ul>
                    <li>Không áp dụng cho người hưởng bảo hiểm.</li>
                    <li>Chỉ áp dụng cho khách hàng đứng tên bảo hiểm.</li>
                    <li>Không có nợ xấu tại ngân hàng hoặc công ty tín dụng nào cả.</li>
                </ul>
                <h3>
                    <strong>Lãi suất vay theo hợp đồng bảo hiểm nhân thọ tại Vietcombank</strong>
                </h3>
                <p>
                    Lãi suất vay vốn phụ thuộc vào khoản vay, thời gian mua và đóng bảo hiểm và ngân hàng mà quý khách đăng ký.
                    Thông thường sẽ giao động từ 0,7% đến 1,2%, để biết chính xác số tiền phải đóng hàng tháng quý khách
                    vui lòng liên hệ số hotline để được chuyên viên tư vấn miễn phí.
                </p>
                <p>
                    <img class="alignnone size-full wp-image-37" src="~/Content/images/vay-tien-theo-bao-hiem-nhan-tho.jpg"
                         alt="" width="650" height="355" srcset="~/Content/images/vay-tien-theo-bao-hiem-nhan-tho.jpg 650w, ~/Content/images/vay-tien-theo-bao-hiem-nhan-tho.jpg 300w"
                         sizes="(max-width: 650px) 100vw, 650px" />
                </p>
                <h3>
                    <strong>Điều kiện và thủ tục vay theo hợp đồng bảo hiểm nhân thọ</strong>
                </h3>
                <h4>Điều kiện bắt buộc</h4>
                <ul>
                    <li>Khách hàng cần có độ tuổi từ 20 đến 60 tuổi.</li>
                    <li>Không có nợ xấu tại ngân hàng hay công ty tài chính nào cả.</li>
                    <li>Hợp đồng bảo hiểm phải có hiệu lực trên 01 năm.</li>
                    <li>phí bảo hiểm mỗi tháng phải lớn hơn 167.000vnđ.</li>
                </ul>
                <p>Thủ tục cần thiết để làm hồ sơ</p>
                <ul>
                    <li>Sổ hộ khẩu và chứng minh nhân dân hoặc thẻ căn cước.</li>
                    <li>Hợp đồng bảo hiểm nhân thọ</li>
                    <li>01 ảnh 3×4.</li>
                    <li>Biên lai đóng phí bảo hiểm.</li>
                </ul>
                <p>
                    Khách hàng vay vốn theo hợp đồng bảo hiểm nhân thọ có thể chọn lựa rất nhiều ngân hàng, tuy nhiên không thể
                    vay quá 2 ngân hàng. Để được hướng dẫn chi tiết xin vui lòng gọi điện cho chúng tôi qua số hotline hoặc
                    điền thông tin qua form đăng ký để được chuyên viên tin dụng tư vấn miễn phí.
                </p>
            </div>
            <div class="box-register-new text-center">
                <h4 class="txt">Vay Vốn Ngân Hàng Vietcombank </h4>
                <div class="text-center list">
                    <ul class="clearfix">
                        <li class="pull-left">
                            Vay tiền Không cần
                            <span style="color: red;">Thế Chấp</span> tài sản
                        </li>
                        <li class="pull-left">
                            Lãi suất chỉ
                            <span style="color: red;">0,6%</span>/ tháng
                        </li>
                    </ul>
                </div>
                <a style="padding: 20px;background: #258337;" onclick="location.href='https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true'" class="register box-popup-register" id="box-register-single">
                    Đăng ký ngay
                </a>
            </div>
            <!--box-register-new-->
        </div>
        <div class="right-container">
            <div class="box-one">
                <h3 class="title-right">
                    <span>Hotlie hỗ trợ</span>
                </h3>
                <img style="max-width:330px;" src="~/Content/images/tuvan-hotline.jpg" class="lazyloading"
                     data-was-processed="true">
                <div style="padding:8px 15px; border:1px solid #aaa; margin-right:11px; margin-bottom:20px;" id="hotline">
                    <span style="font-size:25px;font-weight:700;display:inherit;line-height:2;text-align:center;">
                        <a style="color:red;" href="tel:0984828226">0984.828.226</a>
                    </span>
                    <span style="font-size:25px;font-weight:700;display:inherit;line-height:2;text-align:center;">
                        <a style="color: red;" href="tel:0984828226">0984.828.226</a>
                    </span>
                </div>
            </div>
            <div class="box-one">
                <h3 class="title-right">
                    <span style="background-color: #bd2d2d;">Các hình thức vay vốn</span>
                </h3>
                <div style="padding: 8px 15px;border: 1px solid #aaa;margin-right: 11px; margin-bottom: 20px;">
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="Vay theo lương chuyển khoản">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tin-chap-theo-luong.jpg"
                                 alt="Vay theo lương chuyển khoản" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoLuongChuyenKhoan", "Home")" title="Vay theo lương chuyển khoản">Vay theo lương chuyển khoản</a>
                            </h4>
                        </div>
                    </div>
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="Vay theo lương tiền mặt">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tin-chap-theo-luong-tm.jpg"
                                 alt="Vay theo lương tiền mặt" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoLuongTienMat", "Home")" title="vay theo lương">Vay theo lương tiền mặt</a>
                            </h4>
                        </div>
                    </div>
                    <div style="padding: 8px 0!important; margin-top: 0;" class="wrapper-qt-right">
                        <a href="@Url.Action("VayTheoHDBH", "Home")" title="vay tiền bằng bảo hiểm nhân thọ">
                            <img class="avatar lazyloading" src="~/Content/images/vay-tien-theo-bao-hiem-nhan-tho.jpg"
                                 alt="Vay tiền bằng bảo hiểm nhân thọ" data-was-processed="true">
                        </a>
                        <div class="wr-name">
                            <h4>
                                <a href="@Url.Action("VayTheoHDBH", "Home")" title="Vay tiền bằng bảo hiểm nhân thọ">Vay tiền bằng bảo hiểm nhân thọ</a>
                            </h4>
                        </div>
                    </div>

                    <style>
                        .wrapper-qt-right .avatar {
                            border-radius: inherit;
                            max-width: 70px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
        <!--END right-->
        <div class="clb ovh ">&nbsp;</div>
    </div>
</div>